extends ../../layout/common.pug
block content 
  - var num = 1;
  section.product
    .product_intro
      .product_intro_title #{typeProductToShow}
    .product_actionBar(style="padding: 0 2rem; box-sizing: border-box; height: 6rem")
      .product_actionBar_soft
        .product_actionBar_soft_title
          | Soft By &#8675
        .product_actionBar_soft_menu(style="background: #999")
          a.product_actionBar_soft_menu_item(href=`/catelogry/${typeProduct}/priceLtoH`) Giá thấp đến cao
          a.product_actionBar_soft_menu_item(href=`/catelogry/${typeProduct}/priceHtoL`) Giá cao đến thấp
          a.product_actionBar_soft_menu_item(href=`/catelogry/${typeProduct}/mostViewed`) Theo mứ độ phổ biến
      .product_actionBar_search
        form(method='GET' action=`/catelogry/${typeProduct}/search`)
          input(type='text', placeholder='Search', name='name')
          button(type="submit")
            | FIND
    .product_all
      each item in productData
        a(href=`/catelogry/product/${item.id}`)
          .product_all_item
            img(src=`http://lorempixel.com/300/${300+num++}/cats` alt='')
            p.product_all_item_name #{item.name} 
            .product_all_item_pricebox
              if item.salePricePercent==0
                p.product_all_item_price #{item.price}đ
                p -
              if item.salePricePercent!==0
                p.product_all_item_price(style="text-decoration:  line-through") #{item.price}đ
                p -
                p.product_all_item_price_discount #{Math.round(item.price*(1-item.salePricePercent*0.01))}đ
              .product_all_item_decoration
                span.product_all_item_decoration_discount -#{item.salePricePercent}%
