extends ../../../layout/common.pug
block content 
  div.view
    div.view_img
      img(src=`http://lorempixel.com/300/${Math.round(Math.random()*10)+300}/cats`)
    div.view_infor
      p.view_infor_name #{item.name}
      p.view_infor_price Price: 
      p.view_infor_priceOld #{item.price}$
      p.view_infor_priceSale -#{Math.round(item.price*(1-item.salePricePercent*0.01))}$
      p.view_infor_describe Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      a(href=`/cart/add/${item.id}`).view_infor_add Add To Card
